---
import cx from "classnames";
import type TypographyProps from "components/atoms/Typography.astro";
import Typography from "components/atoms/Typography.astro";

type PrimitiveProps = Parameters<typeof TypographyProps>[0];

export interface Props extends PrimitiveProps {
  scrollTarget: string;
  speed?: number;
  delay?: number;
}

const {
  scrollTarget,
  speed = 1,
  delay = 0.1,
  className,
  type = "1xl",
} = Astro.props;

const styles = cx("relative w-fit", className);
---

<div
  class={styles}
  data-scroll
  data-scroll-target={scrollTarget}
  data-scroll-direction="vertical"
  data-scroll-speed={speed.toString()}
  data-scroll-delay={delay.toString()}
>
  <Typography type={type}><slot /></Typography>
</div>
