---
import TypographyDirectional from "components/molecules/TypographyDirectional.astro";
import type ITypographyDirectional from "components/molecules/TypographyDirectional.astro";

type ItemParams = Parameters<typeof ITypographyDirectional>[0];

interface Items extends Pick<ItemParams, "speed" | "delay"> {
  text: string;
  styles?: string;
}

export interface Props {
  identifier: string;
  items: Items[];
}

const { identifier, items } = Astro.props;
const identifierFormatted = `#${identifier}`;
---

<div
  id={identifier}
  class="relative h-full min-h-full min-w-full flex flex-col justify-between"
>
  {
    items.map(({ text, speed, delay, styles }) => (
      <TypographyDirectional
        scrollTarget={identifierFormatted}
        className={styles}
        speed={speed}
        delay={delay}
      >
        {text}
      </TypographyDirectional>
    ))
  }
</div>
